body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0;
  color: #333;
}

h1,
h2 {
  font-family: "Dela Gothic One", sans-serif;
}

.top-bar {
  background-color: #e3b38c;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 0.9rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

.logo {
  font-weight: 900;
  font-size: 2rem;
  transform: rotate(-5deg);
  display: inline-block;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}

.image-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  opacity: 0.7;
}

.btn-primary {
  font-family: "Dela Gothic One", sans-serif;
  background-color: #d37332;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
}

.checkbox-grid,
.checkbox-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto 40px auto;
  padding: 0 20px;
}

.check-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.check-item input {
  margin-top: 4px;
}

h1,
h2,
.category-title {
  text-align: center;
}

.category-title {
  background-color: #e3b38c;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 40px;
  border-radius: 10px;
}

.contact-info {
  background-color: #e3b38c;
  padding: 50px 20px;
  border-radius: 20px;
  max-width: 700px;
  margin: 50px auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input,
.form-container select {
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.submit-btn {
  font-family: "Dela Gothic One", sans-serif;
  background-color: #d37332;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 10px;
}
