---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---
<Layout>
	<h1>Om os</h1>
	<Button />
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ex odit doloremque, debitis voluptates dolor iste qui atque. Quasi, soluta. Architecto dicta mollitia necessitatibus, sed iure corporis consequatur voluptates ratione aspernatur voluptatum doloremque temporibus recusandae omnis accusamus facilis unde quisquam numquam eum, vero, nobis pariatur tempore. Eos beatae consectetur quos corporis cumque, vero maiores minus magni sit velit, eius quo amet harum debitis laborum, suscipit quis incidunt? Error magni doloribus illo incidunt, veniam beatae, saepe culpa officiis atque, rem architecto! Nisi animi nostrum sunt, dolore velit temporibus a ut exercitationem tempora labore consequuntur consequatur deserunt dignissimos totam inventore commodi culpa.</p>
</Layout>

