---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Cards from "../components/cards.astro";
---
<Layout>
	<main>
	<h1>Dit højskoleeventyr starter her</h1>
	<p>HØJSKOLENDK er en dansk højskole for unge i alderen 18-26 år.Vi brænder for oplevelser, fællesskabet og det gode eventyr.</p>
	<Button />
	<Button />
<section class="container">
		<!-- <img src="" alt=""> -->
		<h1>Vælg dit eventyr</h1>
		<p> HØJSKOLENDK er en dansk højskole for unge i alderen 18-28 år.Vi brænder for oplevelser, fællesskabet og det gode eventyr.</p>
	</section>

	<section class="cards">
		<!-- Vælg dit eventyr -->
    </section> 

	<div class="cta-wrap">
      <button class="cta">Se alle rejser</button>
    </div>


	<section>
		<!-- <img src="" alt=""> -->
		<h1>Oplevelser for livet & fantastiske eventyr</h1>
		<p>HØJSKOLENDK er en dansk højskole for unge i alderen 18-28 år.Vi brænder for oplevelser, fællesskabet og det gode eventyr.</p>
	</section>

	<section>
		<!-- <img src="" alt=""> -->
		<h1> +3.000 glade elever siden 2010</h1>
		<p> <strong>96% af alle elever anbefaler HØJSKOLENDK (2025).</strong> </p>
	</section>

	<section>
		<h1>Klar på højskoleeventyr, fælleskab & masser af adventure?</h1>
		<p>Her er lidt af alt det, som du får, når du tager på et højskoleophold med os.</p>
		<div class="cards_1">
			<!-- De fire cards, vi skal  vælge billeder -->
		</div>	
	</section>

	<section>
		<!-- INFO MØDET -->
	</section>

	<section>
		<h1> Historie fra elever</h1>
		<p>HØJSKOLENDK er en dansk højskole for unge i alderen 18-28 år.Vi brænder for oplevelser, fællesskabet og det gode eventyr.</p>
		<div class="elever">
		<article>
			<!-- img -->
			<h3> 3 helt igennem fantastiske måneder i Sydamerika </h3>
			<p>“Jeg har oplevet de vildeste ting, se de flotteste ting og jeg har gjort det hele med den mest fantastiske gruppe og rejseleder og underviser. Man udvikler sig gennem de mange forskellige oplevelser og igennem den fantastiske undervisning man får undervejs. Savner allerede” </p>
			<p><strong> – Sarah, 24 år</strong></p>	
		</article>

		<article>
			<!-- img -->
			<h3> De mest fantastiske 3 måneder</h3>
			<p>““Jeg er lige kommet hjem fra opholdet til "Brasilien, Argentina, Bolivia, Peru, Ecuador og Colombia." Vi havde Mattias og Malte (M&M) med som rejseleder og underviser. De har været super gode begge to og klaret det sindssygt godt. Begge har skabt helt fantastiske rammer, som har givet os den fedeste og mest uforglemmelige tur.” </p>
			<p><strong> – Andrea, 19 år</strong></p>
		</article>	

		<article>
			<!-- img -->
			<h3>Det her har været den største og mest fantastiske oplevelse i mit liv</h3>
			<p>"Vores rejseleder Elisabeth og underviser Jakob havde styr på alt, de skabte tryghed, sørgede for god stemning og gjorde virkelig en positiv forskel for vores rejse. Man kunne mærke, at de brændte for oplevelserne og for fællesskabet, og det gjorde rejsen endnu mere speciel. Det her har været den største og mest fantastiske oplevelse i mit liv. Jeg vil aldrig glemme den, og jeg kan kun give mine aller varmeste anbefalinger til alle, der overvejer at tage af sted. Det er et eventyr for livet." </p>
			<p><strong> – Mads, 22 år</strong></p>
		</article>
		</div>
	</section>

	<section>
		<h1> Et fællesskab, der starter på rejsen og varer hele livet </h1>
		<div>
    <!-- Venstre tekstboks -->
    <article>
      <h3>Få dit livs eventyr</h3>
      <p>
        Du rejser sammen med ca. 30 andre unge og du kender
        dem ikke endnu. Men du kan trygt glæde dig til, at lære
        dem at kende, for du vil helt sikkert få nye venner. Det
        er nemlig noget af det, mange tidligere elever fremhæver,
        som noget af det bedste ved HØJSKOLENDK.
      </p>

      <h4>Medlem af Rejsegarantifonden</h4>
      <p>
        Du er sikret op til en tryg rejseoplevelse da vi er medlem af
        Rejsegarantifonden. Det betyder, at hvis en rejse ikke kan
        gennemføres, bliver dine penge betalt tilbage.
      </p>

      <p>Vi glæder os til at lære dig at kende!</p>

      <button type="button">Se rejsekalenderen</button>
    </article>
	</section>

	<section>
		<!-- SPØRGSMÅL SEKTIONEN -->
	</section>
	</main>
</Layout>